<!-- Meta data stuff -->
<%- include partials/header %>

<body>
    <!-- The navigation bar  -->
    <%- include partials/navbar %>

    <!-- The body -->
    <%- include partials/body %>

    <!-- The footer -->
    <%- include partials/footer %>

    <!-- Scripts -->
    <%- include partials/scripts %>

</body>